<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>合作伙伴</title>
    <style>
        body {
            background: url("../../static/img/q04.jpg") no-repeat fixed center/100% 100%;
        }

        .father{
            background-color: rgba(225, 225, 225, 0.7);
            width: 1000px;
            height: 700px;
            margin: 20px auto;
            border-radius: 4px;
            padding: 20px 100px;
        }

        .father h1{
            line-height: 80px;
            border-bottom: 1px solid #000;

        }

    </style>
    <link rel="stylesheet" href="../../static/dist/css/bootstrap.css">
    <script src="../../static/js/jquery-1.12.4.js"></script>
</head>
<body>
<div class="father">
<h1>合作伙伴</h1>
</div>
<script src="../../static/dist/js/bootstrap.js"></script>
</body>
</html>